body {
    margin: 0;
    padding: 0;
    font-size: .9rem;
}

/* FORMS */
label {
    font-weight: 700;
}
.btn {
    /* color: #FFF !important; */
    font-size: .8rem;
}
.btn-secondary {
    background-color:#1cc88a;
}

/* MODALS */
nav.modal-open {
    width: 100% !important;
    padding-right: 0 !important;
    overflow-y: scroll !important;
}

.alert-danger {
    width: 100%;
    background-color: rgb(221, 31, 31); 
    color: #FFF;
    border-radius: 0px;
    border: none;
    /* font-weight: 700; */
}

.border-left-primary-green {
    border-left: .25rem solid #1cc88a !important;
}

.border-left-primary-red {
    border-left: .25rem solid #cf2929 !important;
}


/* DATATABLES */
table {
    font-size: .8rem;
    text-align: center;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 5px 0px;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 3px 10px;
}

table.dataTable tfoot th, table.dataTable tfoot td {
    padding: 5px 0px;
}

.bg-red {
    background-color: #cf292941 !important;
}

button, .btn {
    text-transform: uppercase;
}

.dataTable thead th {
    font-weight: 600 !important;
}

.card-table {
    padding: 10px 0px 0px 0px;
}

.card-login {
    width: 50%;
}

.collapse-inner {
    background-color: #62ece44d;
}

.collapse-inner a {
    color: #FFF !important;
}
.collapse-inner a:hover {
    color: #FFF !important;
    background-color: rgba(119, 215, 228, 0.596) !important;
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: -0.5em;
}

.dataTables_wrapper .btn-group {
    padding-left: 1rem;
}

.dataTable th {
    padding-right: 15px !important;
}