{# templates/emails/registration.html.twig #}
<h3>Plateforme hébergement</h3>

Bonjour,<br>
Veuillez cliquer sur le lien çi-dessous pour réinitialiser votre mot de passe :
<a href="{{ url('reset_password_token', {'id': id, 'token': token}) }}">Réinitialiser mon mot de passe</a>.
